.header-icon {
  box-shadow: 0 -6px 16px rgba(0, 0, 0, .08), 0 -3px 6px -4px rgba(0, 0, 0, .12), 0 -9px 28px 8px rgba(0, 0, 0, .05);

  .ant-dropdown-menu {
    display: block;

    .anticon {
      margin-right: 12px;
    }
  }

}

.header-icon.ant-popover {
  padding-top: 0;
  border-radius: 6px;

  .ant-popover-arrow {
    display: none;
  }

  .ant-popover-inner {
    padding: 0;
  }

  .ant-empty-image {
    @apply flex justify-center;
  }
}
